@page
@model Havest_Finance_Mockup.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<head>
    @*SEO*@
</head>
<div class="index-main-block">
    <h1 class="header-text-1">You hard work is about to become easier with <span style="font-weight: 700;">Harvest</span></h1>
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/test.gif" alt="gif_1" class="gif-1" />
    <div class="stand-1">
        <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Stand.png" alt="stand" class="stand-1-img" />
        <div class="deposit-data">
            <p class="dd-text-1">Deposits in <span style="font-weight: 700">Harvest:</span></p>
            <p class="dd-text-2"><span style="font-weight: 700">420,162,236.83 USD</span></p>
            <p class="dd-text-2">Annual <span style="font-weight: 700">Profits</span> to Farmers</p>
            <p class="dd-text-2"><span style="font-weight: 700">20,575,532.30 USD</span></p>
        </div>
    </div>
    <div class="stand-2">
        <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Stand.png" alt="stand" class="stand-2-img" />
        <div class="buy-farm">
            <p class="dd-text-3">BUY FARM</p>
        </div>
        <div class="emission-data">
            <p class="dd-text-1">Weekly Emission Drop</p>
            <p class="dd-text-4">06 Days 10:50:05.76</p>
        </div>
    </div>
    <div class="stand-3">
        <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Stand.png" alt="stand" class="stand-3-img" />
        <div class="regular-data">
            <p class="dd-text-1">FARM price: <span style="font-weight: 700">109.98 USD</span></p>
            <p class="dd-text-2">Profit Share APY: <span style="font-weight: 700">330.30%</span></p>
            <p class="dd-text-2">Market Cap: <span style="font-weight: 700">27.76M USD</span></p>
            <p class="dd-text-2">FARM staked: <span style="font-weight: 700">77%</span></p>
        </div>
    </div>
    <div class="wallet-block">
        <div class="wallet-sub-block-1">
            <p class="wallet-text">You haven't connected a wallet.</p>
            <div class="connect-wallet">Connect Wallet</div>
        </div>
    </div>
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/harvest_options.png" alt="farming-accounts" class="farms-block" />

    @*DESKTOP*@
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Left_Bottom_Hill.png" alt="Hill" class="hill-left-1" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Left_Bottom_Hill_2.png" alt="Hill" class="hill-left-2" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Left_Middle_Hill.png" alt="Hill" class="hill-left-3" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Left_Top_Hill.png" alt="Hill" class="hill-left-4" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Right_Bottom_Hill.png" alt="Hill" class="hill-right-1" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Right_Middle_Hill.png" alt="Hill" class="hill-right-2" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Right_Top_Hill.png" alt="Hill" class="hill-right-3" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Little_House.png" alt="House" class="house-left-1" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Big_House.png" alt="House" class="house-right-1" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Farmer_1.png" alt="Farmer" class="farmer-1" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Farmer_2.png" alt="Farmer" class="farmer-2" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Farmer_3.png" alt="Farmer" class="farmer-3" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Stand.png" alt="Stand" class="stand-4" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Flower.png" alt="Flower" class="flower-1" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Flower.png" alt="Flower" class="flower-2" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Flower.png" alt="Flower" class="flower-3" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Flower.png" alt="Flower" class="flower-4" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Flower.png" alt="Flower" class="flower-5" />

    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/zcash.png" alt="Coin" class="coin-1" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/ripple.png" alt="Coin" class="coin-2" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/etherium.png" alt="Coin" class="coin-3" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/bitcoin.png" alt="Coin" class="coin-4" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/namecoin.png" alt="Coin" class="coin-5" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/prime.png" alt="Coin" class="coin-6" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/aurouracoin.png" alt="Coin" class="coin-7" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/devcoin.png" alt="Coin" class="coin-8" />

    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/lisk.png" alt="Coin" class="coin-9" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/nxt.png" alt="Coin" class="coin-10" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/litecoin.png" alt="Coin" class="coin-11" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/monero.png" alt="Coin" class="coin-12" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/flash.png" alt="Coin" class="coin-13" />

    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Cloud1.png" alt="Cloud" class="cloud-1" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Cloud2.png" alt="Cloud" class="cloud-2" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Cloud3.png" alt="Cloud" class="cloud-3" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Cloud4.png" alt="Cloud" class="cloud-4" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Cloud2.png" alt="Cloud" class="cloud-5" />

    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Chad_2.png" alt="Chad_2" class="chad-tractor" />
    <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Chad_2_Solo.png" alt="Chad_1" class="chad" />

    <div class="windmill-container">
        <img src="https://hfmockupfiles.blob.core.windows.net/graphics/WindmillBlades.png" alt="Windmill Blades" class="windmill-blades-img" />
        <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Windmill.png" alt="Windmill" class="windmill-img" />
        <div class="emission-data-2">
            <h4 class="text-1">Weekly Emission Drop</h4>
            <p class="text-2">05 Days 15:38:14.39</p>
            <div class="buy-farm-1">BUY FARM</div>
        </div>
        <div class="wallet-block-1">
            <div class="wallet-sub-block-1-1">
                <p class="wallet-text-1">You haven't connected a wallet.</p>
                <div class="connect-wallet-1">Connect Wallet</div>
            </div>
        </div>
        <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Windmill_Body_1.png" alt="Body" class="windmill-body-1" />
        <img src="https://hfmockupfiles.blob.core.windows.net/graphics/Windmill_Body.png" alt="Body" class="windmill-body-2" />
    </div>
</div>